/*    Fontes     */



.campo h3 {
    font-size: var(--font-size-h2);
    display: block;
    font-weight: bold;
    margin-left: 30px;
}

.Config-H2{
    font-size: var(--font-size-h2);
    font-weight: 600;
    text-align: center;
    width: 90%;
}

.titulo {
    font-size: var(--font-size-h1);
    font-weight: bold;
}

/* EDITAR PERFIL */

.ConfigAreaFotoCampo {
    width: 100%;
    height: auto;
    max-height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    margin: 0 auto;
    gap: 2vw;
}
.ConfigAreaFotoCampo .ConfigAreaFotoPerfil {
    flex: 0.3;
    width: 90%;
    min-width: max(20vw,250px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.ConfigAreaFotoCampo .ConfigAreaCampo{
    flex:0.7;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ConfigAreaFotoCampo .foto-perfil {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 75%;
    aspect-ratio: 1 / 1; /* Mantém a proporção 1:1 */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.IconeEditar {
    display: flex;
    position: relative;
    background: rgba(64, 102, 255, 0.8);
    padding: 10px;
    border-radius: 50%;
}


.foto-fundo {
    height: 20vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    color: white;
    font-weight: bold;
    background-color: #000;
    text-shadow: 1px 1px 3px #000;
    border-radius: 30px;
}


/* Campos */

.campo {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 1vh;
}

.campo input,
.campo textarea {
    width: 100%;
    padding: 5vh;
    background-color: #2a2a2a;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: var(--font-size-h2);
}
.campo input {
    height: 10vh;
}

.campo textarea {
    resize: vertical;
    height: 20vh;
}

/* Botão Salvar */

.botao-salvar {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #4066FF;
    padding: 14px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s;
}

.botao-salvar h2{
    font-size: var(--font-size-h2);
    color: white;
    font-weight: bold;
}

.botao-salvar:hover {
    background-color: #444;
}

/*  AnunCurtidos  */

.ConjAnuncioConfig{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

/* Estilo para a parte Inferior */

.ConjAnuncioConfig .Inferior {
    height: 100%;
    width: 100%;
    display: grid;
    gap: 3vh;
    justify-content: space-around;
    justify-items: center;
    box-sizing: border-box;
    align-items: center;
    padding: 0;
    margin: 0;
}



@media (max-width: 1000px) {
    .ConfigAreaFotoCampo {
        max-height: max-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: content-box;
        margin: 0 auto;
        gap: 10px;
    }
    .ConfigAreaFotoCampo .ConfigAreaFotoPerfil {
        max-width: max(30vw,200px);
    }
    .campo input {
        height: 8vh;
    }

    .campo textarea {
        resize: vertical;
        height: 18vh;
    }
}

/* Trocar Senha */

.divTituloAreaSenha{
    margin-bottom: 12vh;
}

.divcampoTrocarSenha{
    margin-bottom: 20px;
    gap: 2.5vh;
}



