.lista-anunciosP{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 100%;
}

.anuncio-denuncia-card {
    border:1px solid var(--cor-branco);
    background: var(--background-pesquisa);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.anuncio-foto-container {
    aspect-ratio: 1/1;
    width: 100%;
    overflow: hidden;
    background: #1a1a1a;
    flex-shrink: 0;
}

.anuncio-foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.anuncio-denuncia-info {
    padding: min(2vh, 15px);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.denuncia-titulo {
    font-size: var(--font-size-p);
    color: #888;
    margin: 0;
    font-weight: 500;
}

.denuncia-tipo {
    font-size: var(--font-size-p2);
    color: white;
    margin: 0;
    line-height: 1.3;
}

.btn-ver-mais {
    margin: 0 2vh 2vh;
    padding: 1vh;
    background: white;
    color: black;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s;
}

.btn-ver-mais:hover {
    background: #e0e0e0;
}

@media (max-width: 800px) {
    .lista-anunciosP {
        grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
        gap: 15px;
    }
}