.CadastroModeracao{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 550px;
    height:  95vh;
    background: var(--background-pesquisa);
    padding: 40px;
    border-radius: 25px;
    gap: 0;
    box-sizing: border-box;
}
.CadastroModeracao h1{
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    text-align: center;
    font-size: var(--font-size-h1);
    justify-content: center;
}

.CadastroModeracao p {
    width: 100%;
    color: white;
    text-align: right;
}

.CadastroModeracao .formCad{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
    gap: 3vh;
    box-sizing: border-box;
    flex: 0 0 75%; /* 70% da altura */
}

@media (max-width: 500px) {

    .CadastroModeracao{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: clamp(300px,95vw ,550px);
        height: clamp(500px, 90vh, auto);
        background: #00000000;
        padding: 20px;
        gap: 0;
    }
}