/* Configurações de Fontes */
:root {

}

/* Fontes */

.ConjAnuncio .Superior .ConjAnuncioTitulo h2 {
    color: var(--cor-branco);
    font-size: var(--font-size-h1);
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.ConjAnuncio .Inferior .Anuncio p {
    background: #ffffff;
    color: var(--cor-azul);
    font-size: var(--font-size-p);
    width: fit-content;
    margin: 5px;
    padding: 3px 7px;
    border-radius: 10px;
}

/* ConjAnuncio */

.ConjAnuncio{
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: auto;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 1vw;
}

.ConjAnuncio .Superior {
    display: flex;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 18vh;
    flex-shrink: 0;
    border-radius: 10px;

}

.ConjAnuncio .Superior .ConjAnuncioTitulo {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ConjAnuncio .Superior .ConjAnuncioAnuncios {
    flex: 4;
    display: flex;
    max-width: 180px;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.ConjAnuncio .Superior .ConjAnuncioAnuncios .ConjAnuncioAnunciosEsquerda{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.ConjAnuncio .Superior .ConjAnuncioAnuncios .ConjAnuncioAnunciosDireita{
    flex: 2;
    display: flex;
    justify-content: center;
}


.ConjAnuncio .Superior .ConjAnuncioAnuncios .Anuncio {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
}


/* Estilo para a parte Inferior */

.ConjAnuncio .Inferior {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 143px); /* ← fixo */
    gap: 20px;
    justify-content: space-around; /* para centralizar os cards */
    box-sizing: border-box;
    align-items: center; /* alinha verticalmente */
    padding: 0; /* sem afastar das bordas */
    margin: 0;
}

.ConjAnuncio .Inferior .Anuncio {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 143px;
    height: 220px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites */
}

.Anuncio .IconeEditar {
    display: flex;
    position: relative;
    background: rgba(64, 102, 255, 0.8);
    padding: 10px;
    border-radius: 50%;
}


@media (max-width: 800px) {
    .ConjAnuncio {
        width: 90%;
    }
}

/* Responsividade */

@media (max-width: 500px) {
    .ConjAnuncio {
        width: 90%;
    }
    .ConjAnuncio .Superior {
        height: 15vh;
    }
    .ConjAnuncio .Inferior {
        grid-template-columns: repeat(auto-fill, 117px);
    }
    .ConjAnuncio .Inferior .Anuncio {
        width: 129px;
        height: 198px;
    }
}









/*.anuncio-card {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    border-radius: 20px;*/
/*    overflow: hidden;*/
/*    border: 1px solid var(--cor-cinza);*/
/*    background-color: var(--cor-fundo-claro);*/
/*    cursor: pointer;*/
/*    transition: transform 0.2s;*/
/*    width: 100%;*/
/*}*/

/*.anuncio-card:hover {*/
/*    transform: scale(1.02);*/
/*}*/

/*.anuncioFotoContainer {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    aspect-ratio: 1 / 1;*/
/*    overflow: hidden;*/
/*}*/

/*.anuncioFoto {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    max-height: 500px;*/
/*    object-fit: cover;*/
/*    display: block;*/
/*}*/

/*.divPreco {*/
/*    position: absolute;*/
/*    bottom: 4px;*/
/*    left: 4px;*/
/*    background-color: var(--cor-branco);*/
/*    border:2px solid var(--cor-preto);*/
/*    padding: 2px 8px;*/
/*    border-radius: 10px;*/
/*    z-index: 2;*/
/*}*/

/*.preco-texto {*/
/*    margin: 0;*/
/*    color: #5865f2;*/
/*    font-weight: 700;*/
/*    font-size: var(--font-size-h2);*/
/*}*/

/*.iconeEditarContainer {*/
/*    position: absolute;*/
/*    top: 6px;*/
/*    right: 6px;*/
/*    border-radius: 10px;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.2s;*/
/*    z-index: 2;*/
/*}*/

/*.iconeEditarContainer:hover {*/
/*    background-color: rgba(0, 0, 0, 0.8);*/
/*}*/

/*.IconeEditar {*/
/*    color: white;*/
/*    display: block;*/
/*}*/

/*.anuncioDenunciaInfo {*/
/*    padding: max(8px,1vw);*/
/*}*/

/*.denunciaTitulo {*/
/*    margin: 0;*/
/*    color: white;*/
/*    font-size: 16px;*/
/*    font-weight: 500;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    display: -webkit-box;*/
/*    -webkit-line-clamp: 2;*/
/*    -webkit-box-orient: vertical;*/
/*    line-height: 1.4;*/
/*}*/

/*@media (max-width: 768px) {*/

/*    .divPreco {*/
/*        padding: 1px 6px;*/
/*        bottom: 8px;*/
/*        left: 8px;*/
/*    }*/

/*    .iconeEditarContainer {*/
/*        top: 5px;*/
/*        right: 5px;*/
/*    }*/
/*}*/
