/* Configurações de Fontes */
:root {

}

/* Fontes */

.ConjAnuncio .Superior .ConjAnuncioTitulo h2 {
    color: var(--font-color-branco);
    font-size: var(--font-size-h1);
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.ConjAnuncio .Inferior .Anuncio p {
    background: #ffffff;
    color: var(--font-color-azul);
    font-size: var(--font-size-p);
    width: fit-content;
    margin: 5px;
    padding: 3px 7px;
    border-radius: 10px;
}

/* ConjAnuncio */

.ConjAnuncio{
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: auto;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 1vw;
}

.ConjAnuncio .Superior {
    display: flex;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 18vh;
    flex-shrink: 0;
    border-radius: 10px;

}

.ConjAnuncio .Superior .ConjAnuncioTitulo {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ConjAnuncio .Superior .ConjAnuncioAnuncios {
    flex: 4;
    display: flex;
    max-width: 180px;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.ConjAnuncio .Superior .ConjAnuncioAnuncios .ConjAnuncioAnunciosEsquerda{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.ConjAnuncio .Superior .ConjAnuncioAnuncios .ConjAnuncioAnunciosDireita{
    flex: 2;
    display: flex;
    justify-content: center;
}


.ConjAnuncio .Superior .ConjAnuncioAnuncios .Anuncio {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
}


/* Estilo para a parte Inferior */

.ConjAnuncio .Inferior {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 143px); /* ← fixo */
    gap: 20px;
    justify-content: space-around; /* para centralizar os cards */
    box-sizing: border-box;
    align-items: center; /* alinha verticalmente */
    padding: 0; /* sem afastar das bordas */
    margin: 0;
}

.ConjAnuncio .Inferior .Anuncio {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 143px;
    height: 220px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites */
}

.Anuncio .IconeEditar {
    display: flex;
    position: relative;
    background: rgba(64, 102, 255, 0.8);
    padding: 10px;
    border-radius: 50%;
}


@media (max-width: 800px) {
    .ConjAnuncio {
        width: 90%;
    }
}

/* Responsividade */

@media (max-width: 500px) {
    .ConjAnuncio {
        width: 90%;
    }
    .ConjAnuncio .Superior {
        height: 15vh;
    }
    .ConjAnuncio .Inferior {
        grid-template-columns: repeat(auto-fill, 117px);
    }
    .ConjAnuncio .Inferior .Anuncio {
        width: 129px;
        height: 198px;
    }

}
