#btnPunir {
    background-color: var(--cor-linha);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btnPunir:hover {
    background-color: var(--background-pesquisa);
}

#btnExcluir {
    background-color: var(--cor-vermelho);
    color: white;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

#btnExcluir:hover {
    background-color: var(--cor-vermelho-escuro);
}
