/*
.ApresentacaoFundo{
    background-color: #1c1c1c;
    height: 100vh;
    width: 100vw;
    display: flex;
}

#ApresentacaoAzul{
    height: 100vh;
}

#ApresentacaoAzul img {
    height: 95vh;
    width: 100vw;
}

#faixa{
    height: 20vh;
    width: 100vw;
    display: flex;
    background-repeat: repeat;
    background-size: unset;
    background-color: #4066FF;
}

#Carrocel {
    height: 80vh;
    width: 100vw;
    display: flex;
    background-repeat: repeat;
    background-size: unset;
    background-color: #4066FF;
} */

#PaginaInicial {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #1c1c1c;
    overflow-x: hidden;
}

#esquerda div {
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(20px); } /* sobe/desce 20px */
    100% { transform: translateY(0); }
}

Div#esquerda, Div#direita {
    width: 50%;
    height: 100%;
    display: flex;
}

#poligono1 {
    position: relative;
    left: 2px;
    width: 30%;   /* largura do triângulo */
    height: 70%;  /* altura do triângulo */
    background-color: #4066FF;
    clip-path: polygon(100% 0%, 0% 50%, 100% 100%); /* triângulo apontando para a esquerda */
}

#poligono {
    height: 70%;
    width: 70%;
    background-color: #4066FF;
}

Div#esquerda {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10%;
}

button#INICIO {
    margin-top: 2vw;
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border: solid 0.5px;
    font-size: 1vw;
    border-radius: 10vw;
}

button#INICIO:hover {
    opacity: 0.4;
    cursor: pointer;
    transition: 0.2s
}

#PaginaInicial h1{
    font-size: 3vw;
    color: #ffffff;
    font-weight: 400;
}

#PaginaInicial h2 {
    font-size: 2vw;
    font-weight: 900;
    color: #4066FF;
}

#PaginaInicial p,
#faixa p {
    font-size: 1vw;
    color: #ffffff;
}

#faixa {
    height: 15vh;
    background-color: #4066FF;
    display: flex;
    flex-direction: row;
}

.divApresentacaoDados {
    display: flex;
    width: 25%;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 3vw;
}

#faixa h1 {
    font-size: 2.5vw;
    font-weight: bold;
    color: #ffffff;
}

#titulo h1{
    font-size: 2vw;
    color: #ffffff;
    font-weight: 900;
    align-items: center;
    padding-top: 2.5vw;
    justify-content: center;
}

#titulo{
    height: 15%;
    display: flex;
    justify-content: center;
}

#resto {
    height: 85%;
    display: flex;
    padding-right: 5vh;
    padding-left: 5vh;
    justify-content: center;
}

.divResto {
    width: 33.33334%;
    height: 100%;
    display: flex;
    gap: 3vh;
    flex-direction: column;
    align-items: center;
}

.topico {
    height: 40%;
    width: 95%;
    background-color: #4066FF;
    border-radius: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
}

.topico h1 {
    font-size: 2vw;
    color: #fff;
    font-weight: bolder;
}

.topico h2 {
    font-size: 1.3vw;
    color: #fff;
}

.topico p {
    font-size: 0.8vw;
    color: #fff;
}

#SobreFashion {
    display: flex;
    height: 85vh;
    width: 100vw;
    flex-direction: column;
    background-color: #1c1c1c;
}

.detalhe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #4066FF;
}

.ConjAnuncioPerfil{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    align-items: center;
}

#divApresentacaoTexto{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #ffffff;
    border-radius: 0px 50vw 50vw 0px;
}

#PaginaContato {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #1c1c1c;
}

.AreaTrabalho2,
.AreaTrabalho {
    width: 50%;
    display: flex;
    height: FIT-CONTENT;
    flex-direction: column;
}

.AreaTrabalho {
    padding-top: 8%;
    padding-left: 8%;
}

#PaginaContato div.AreaTrabalho {
    height: 100vh;
}

#top {
    height: 55%;
    width: 100%;
}

#bottom {
    height: 45%;
    width: 100%;
}

#PaginaContato h1 {
    font-size: 3vw;
    color: #ffffff;
    font-weight: 900;
    align-items: center;
    justify-content: center;
}

.BotaoContato {
    margin-top: 2vw;
    background-color: #FF6B6B;
    color: #ffffff;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.4vw;
    font-weight: bold;
    border-radius: 1vw;
    margin-right: 1vw;
}

.BotaoContato:hover {
    opacity: 0.3;
    cursor: pointer;
    transition: 0.2s;
}

#PaginaContato h2 {
    font-size: 1.5vw;
    color: #4066FF;
    font-weight: 900;
    align-items: center;
    justify-content: center;
}

#PaginaContato p {
    font-size: 1.5vw;
    color: #ffffff;
    font-weight: 900;
    align-items: center;
    justify-content: center;
}

#footer {
    height: 70vh;
    display: flex;
    width: 100vw;
    background-color: #E8BB3E;
}

.BotaoFooter {
    margin-top: 2vw;
    background-color: #E8BB3E;
    color: #000000;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.4vw;
    font-weight: bold;
    border-radius: 1vw;
    border: solid #000000;
    margin-right: 1vw;
}

.BotaoFooter:hover {
    background-color: #000000;
    color: #E8BB3E;
    cursor: pointer;
    transition: 0.2s;
}

#footer h1 {
    font-size: 3vw;
    margin-bottom: 1vw;
    color: #000000;
    font-weight: 900;
    align-items: center;
    justify-content: center;
}

#footer .AreaTrabalho2 {
    padding-top: 8%;
    padding-left: 8%;
}

.AreaTrabalho2 a {
    margin-top: 0.2vw;
    font-size: 1.5vw;
}

.AreaTrabalho2 a:hover {
    transition: 0.2s;
    font-weight: 900;
}

html {
    scroll-behavior:smooth;
}