* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Flex */

.PageEsquecerSenha .divLogo{
    flex: 0 0 15%; /* 20% da altura */
}

main.divCadLogin .PageEsquecerSenha h1 {
    flex: 0 0 10%; /* 10% da altura */
}

.PageEsquecerSenha .formLogin {
    justify-content: start;
    flex: 0 0 75%; /* 30% da altura */
}
.PageEsquecerSenha .divbtnCadastrar{
    flex: 0 0 10%; /* 10% da altura */
}


.PageEsquecerSenha p {
    width: 100%;
    color: white;
    font-size: 18px;
    text-align: right;
}

.PageEsquecerSenha p:hover {
    color: #4066FF;
}





/* Configuração do Botão do Esquecer senha */

.divbtnTrocar {
    display: flex;
    align-items: start;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
}

.btnTrocar {
    background-color: #383838; /* Mesma cor dos inputs */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 15px;
    cursor: pointer;
}

.btnTrocar.selected {
    border: 2px solid white; /* Borda branca ao ser clicado */
}

.btnTrocar:hover {
    background-color: #4C4C4C; /* Cor mais clara ao passar o mouse */
}
