* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Flex */

.PageEsquecerSenha .divLogo{
    flex: 0 0 15%; /* 20% da altura */
}

main.divCadLogin .PageEsquecerSenha h1 {
    flex: 0 0 10%; /* 10% da altura */
}

.PageEsquecerSenha .formLogin {
    justify-content: start;
    flex: 0 0 75%; /* 30% da altura */
}
.PageEsquecerSenha .divbtnCadastrar{
    flex: 0 0 10%; /* 10% da altura */
}


.PageEsquecerSenha p {
    width: 100%;
    color: white;
    font-size: var(--font-size-p);
    text-align: right;
}

.PageEsquecerSenha p:hover {
    color: #4066FF;
}