* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.Home {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background: #232323;
}

.Conteudo {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 80%;
    background: #1C1C1C;
    background-repeat: repeat;
    background-size: unset;
    gap: 10px;
    padding: 10px;
    align-items: center;
    overflow: auto;
}

::-webkit-scrollbar{
    width: 0;
}

@media (max-width: 500px) {
    .Conteudo {
        gap: 10px;
        padding: 50px 10px;
        align-items: center;
    }
}


