
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
p {
    color: white;
    font-size: 20px;
    font-family: Roboto, serif;
    text-align: left;
}
.Home {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background: #232323;
}
.Menu {

}

/* Configuração do Conteudo */


.Conteudo {
    display: flex;
    flex-direction: column;
    height: 100%; /* Depende da altura do pai */
    flex: 80%; /* Ocupa 80% do espaço disponível */
    overflow: auto;
    background: #1C1C1C;
}

.btnAnunciar{
    width: 100%;
    height: 100px;
}
