* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
p {
    color: white;
    font-size: 20px;
    text-align: left;
}
.Home {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background: #232323;
}
.Menu {

}

.Conteudo {
    display: flex;
    flex-direction: column;
    height: 100%; /* Depende da altura do pai */
    flex: 80%; /* Ocupa 80% do espaço disponível */
    background: #1C1C1C;
    background-repeat: repeat;
    background-size: unset;
    gap: 10px;
    padding: 10px;
    align-items: center; /* Remove as barras de rolagem */
    overflow: auto;
}

::-webkit-scrollbar{
    width: 0;
}

@media (max-width: 500px) {

    .Conteudo {
        gap: 10px;
        padding: 50px 10px;

        align-items: center; /* Remove as barras de rolagem */
    }
}

/* Configuração do Conteudo */


