* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
p {
    color: white;
    font-size: 20px;
    font-family: Roboto, serif;
    text-align: left;
}
.Home {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background: #232323;
}
.Menu {

}

/* Configuração do Conteudo */


