/* Fontes */

.ContatoP,.ContatoNome {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ContatoP {
    color: var(--cor-cinza);
    font-size: var(--font-size-p2);
}

.AbaMensagens h2 {
    font-size: var(--font-size-h1);
    text-align: center;
}

.tituloAreaMensagem{
    font-size: var(--font-size-h2);
    font-weight: bold;
    display: flex;
    align-items: center;
}

.divMensagemDestinatario p ,.divMensagemRemetente p{
    font-size: var(--font-size-Mensagens);
    color: var(--cor-branco);
}

/* Codigo */


.AbaMensagens {
    display: flex;
    flex-direction: column;
    background-color: #1C1C1C;
    border-right: 1px solid var(--cor-linha);
    overflow-y: auto;
    padding: 20px max(1.5vw,15px);
    padding-bottom: 0px;
    position: fixed;
    max-width: 25vw;
    width: 100vw;
    min-width: 280px;
    height: 100vh;
    color: #fff;
    gap: 1.5vh;
}

.AbaMensagens.mostrar {
    display: flex; /* Mostra quando necessário */
}

.AbaMensagens hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #333;
}

.divConfigPesquisa .barraPesquisa {
    display: flex;
    align-items: center;
    background: var(--background-pesquisa);
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
}

.divConfigPesquisa .barraPesquisa input {
    outline: none;
    flex: 1;

    border: none;
    font-size: 1rem;
}

.divConfigPesquisa .barraPesquisa.iconeLupa {
    padding: 2px;
    margin: 5px;
}

.ListaContatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

#ConteudoMensagens {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex: 100%;
    background-repeat: repeat;
    background-size: unset;
    align-items: center; /* Remove as barras de rolagem */
    overflow: auto;
    padding: 0px;
    gap: 0px;
}

/* Configurando os flex */
.Contato {
    width: 100%;
    height: 80px;
    min-height: 68px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #272727;
}
.Contato:hover {
    background-color: #27272780;
}

.Contato .imgContato{
    display: flex;
    min-width: 20%;
    flex: 20%;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.Contato .imgContato img {
    border-radius: 50%;
    height: 100%;
    object-fit: fill; /* Evita deformação */
}

.Contato .textoContato{
    display: flex;
    gap: 0.2vh;
    flex-direction: column;
    flex: 80%;
    min-width: 0; /* Impede o overflow do texto */
}

.Contato .divNovaMensagem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

/* ----------------------AREA DE MENSAGENS---------------------- */

.AreaMensagem{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: max(280px, 25vw);/* Compensa a largura do .AbaMensagens */
    overflow-y: auto;
    height: 100vh;
    width: 100%;
    min-height: 100vh;
    color: white;
}

.divTituloAreaMensagem{
    box-sizing: border-box;
    height: 10vh;
    display: flex;
    text-align: center;
    gap: 1vw;
    background-color: #1C1C1C;
    border-bottom: 1px solid var(--cor-linha);
    padding: 10px;
    padding-left: 2vw;
}

.divTituloAreaMensagem .divTituloContatoFoto{
    display: flex;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.divTituloAreaMensagem .divTituloContatoFoto img{
    border-radius: 25%;
    height: 100%;
    object-fit: fill; /* Evita deformação */
}

.divConversa {
    flex: 8;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    padding: 15px;
    background-size: cover;
    overflow-y: auto;
    width: 100%;
    min-height: 0;
}


/* Mensagens da esquerda (contato) */

.divMensagemDestinatario, .divMensagemRemetente {
    color: #000;
    padding: 8px 12px;
    max-width: 70%;
    position: relative;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.divMensagemDestinatario img, .divMensagemRemetente img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 5px;
    padding: 0px;
}

.divMensagemDestinatario {
    background-color: #D4AF5F;
    border-radius: 10px 10px 10px 0;
    color: var(--cor-preto);
    margin-right: auto;
}

/* Mensagens da direita (usuário) */
.divMensagemRemetente {
    background-color: #3b6df6;
    border-radius: 10px 10px 0px 10px;
    color: var(--cor-branco);
    margin-left: auto;
}

.divBarraMensagem{
    height: 10vh;
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #1C1C1C;
    border-top: 1px solid var(--cor-linha);
    gap: max(10px, 1vw);
    padding: 0px 1vw;
}

.divBarraMensagem .barraPesquisa {
    display: flex;
    width: 100%;
    align-items: center;
    background: var(--background-pesquisa);
    border-radius: 20px;
    overflow: hidden;
}

.divBarraMensagem .barraPesquisa input {
    font-size: var(--font-size-Mensagens);
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
}


/*  Resolução  */


@media (max-width: 500px) {
    .AbaMensagens {
        padding: 20px max(2vw, 15px);
        max-width: 100%;
        display: flex;
    }
    .AreaMensagem {
        margin-left: 0px;
        flex-direction: column;
    }
    .IconeVoltar {
        display: flex;
        align-items: center;
    }
    .divBarraMensagem{
        gap: max(15px, 1vw);
        padding: 0px 3vw;
    }
}


