/*    Fontes     */

.campo h2, .divPrefRoupa h2 {
    font-size: var(--font-size-h2);
    color: var(--cor-branco);
    display: block;
    font-weight: bold;
    margin-left: 30px;
}

.Config-H2{
    font-size: var(--font-size-h2);
    font-weight: 600;
    text-align: center;
    width: 90%;
}

/* EDITAR PERFIL */

.ConfigAreaFotoCampo .ConfigAreaFotoPerfil {
    flex: 0.3;
    width: 90%;
    min-width: max(20vw,250px);
    display: flex;
    align-items: center;
    justify-content: center;
}
/*  divPrefRoupa  */
.divPrefRoupa {
    padding: 20px;
    max-width: 500px;
}

.divPrefRoupaEscolhas {
    display: flex;
    gap: 10px;
}

.divPrefRoupaEscolhas .escolha {
    background: var(--cor-branco);
    flex-grow: 1;
    padding: 12px 10px;
    border-radius: 8px;
    background-color: var(--cor-fundo-claro);
    cursor: pointer;
    text-align: center;
}

.divPrefRoupaEscolhas .escolha h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--cor-cinza);
}

.divPrefRoupaEscolhas .selecionado {
    border: 2px solid var(--cor-linha);
}

.divPrefRoupaEscolhas .selecionado h3 {
    color: var(--cor-branco);
}

/* divfotoPerfilCadastro */

.ConfigAreaFotoCampo .divfotoPerfilCadastro {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    aspect-ratio: 1 / 1; /* Mantém a proporção 1:1 */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.IconeEditar {
    display: flex;
    position: relative;
    background: rgba(64, 102, 255, 0.8);
    padding: 10px;
    border-radius: 50%;
}


/* Campos */

.campo {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 1vh;
}

.campo input,
.campo textarea {
    width: 100%;
    padding: 5vh;
    background-color: #2a2a2a;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: var(--font-size-h2);
}
.campo input {
    height: 10vh;
}

.campo textarea {
    resize: vertical;
    height: 20vh;
}



/* Botão Adicionar Foto */

.divAddFotoFundo {
    height: 15vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    color: white;
    font-weight: bold;
    background-color: #000;
    text-shadow: 1px 1px 3px #000;
    border-radius: 30px;
}



/* Botão Salvar */

.btnConfirmar {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #4066FF;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s;
}

.btnConfirmar h2{
    font-size: var(--font-size-h2);
    color: white;
    font-weight: bold;
}

.btnConfirmar:hover {
    background-color: #444;
}