/*    Fontes     */

.campoCadastro h2, .divPrefRoupa h2 {
    font-size: var(--font-size-h2);
    color: var(--cor-branco);
    display: block;
    font-weight: bold;
    margin-left: 10px;
}

.divAddFotoFundo p{
    font-size: var(--font-size-h3);
    color: var(--cor-branco);
    text-align: center;
    width: 95%;
}

/* EDITAR PERFIL */

.ConfigAreaFotoCampo {
    gap: 2vh !important;
}

/* divfotoPerfilCadastro */

.ConfigAreaFotoCampo .divfotoPerfilCadastro {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    aspect-ratio: 1 / 1; /* Mantém a proporção 1:1 */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
}

.IconeEditar {
    display: flex;
    position: relative;
    background: rgba(64, 102, 255, 0.8);
    padding: 10px;
    border-radius: 50%;
}


/* Campos */

.campoCadastro {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1vh;
}

.campoCadastro input,
.campoCadastro textarea {
    width: 100%;
    padding: 2vh;
    background-color: var(--background-pesquisa);
    color: var(--cor-cinza);
    border: none;
    font-size: var(--font-size-h3);
}
.campoCadastro input {
    height: 7vh;
    border-radius: 2vh;
}

.campoCadastro textarea {
    resize: vertical;
    height: 14vh;
    border-radius: 2vh;
}

/*  divPrefRoupa  */
.divPrefRoupa {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1vh;
}

.divPrefRoupaEscolhas {
    display: flex;
    gap: 10px;
}

.divPrefRoupaEscolhas .escolha {
    background: var(--cor-branco);
    flex-grow: 1;
    padding: 12px 10px;
    border-radius: 20px;
    background-color: var(--background-pesquisa);
    cursor: pointer;
    text-align: center;
}

.divPrefRoupaEscolhas .escolha h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--cor-cinza);
}

.divPrefRoupaEscolhas .selecionado {
    border: 1px solid var(--cor-cinza);
}

.divPrefRoupaEscolhas .selecionado h3 {
    color: var(--cor-branco);
}



/* Botão Adicionar Foto */

.divAddFotoFundo {
    height: 10vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    text-shadow: 1px 1px 3px #000;
    border-radius: 30px;
    cursor: pointer;
}

/* Botão Salvar */

.btnConfirmar {
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #4066FF;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s;
}

.btnConfirmar h2{
    font-size: var(--font-size-h2);
    color: white;
}
.btnConfirmar:hover {
    background-color: #3050CC;
}