#divConfig {
    background-color: #373737;
    max-width: 400px;
    border: none;
}

.AreaConfig {
    margin-left: 400px;
}

.divTituloCaixaEntrada {
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.divCarrinhoAberto {
    position: absolute;
    max-width: 400px;
    width: 100vw;
    min-width: 300px;
    height: 100vh;
    background-color: #2B2B2B;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    z-index: 3;
}

.TituloCarinho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7vh;
    color: white;
    border-bottom: 1px solid #404040;
}