#divConfig {
    background-color: #373737;
    max-width: 400px;
    border: none;
}

.AreaConfig {
    margin-left: 400px;
}

.divTituloCaixaEntrada {
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.divCarrinhoAberto {
    position: absolute;
    max-width: 400px;
    width: 100vw;
    min-width: 300px;
    height: 100vh;
    background-color: #2B2B2B;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    z-index: 3;
}

.TituloCarinho {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7vh;
    border: solid #2B2B2B;
}

#TopTitulo {
    height: fit-content;
    display: flex;
    flex-direction: column;
    color: white;
    border-bottom: 1px solid #ffffff;
}

.divValoresPesquisa {
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ItensCarrinho {
    margin-bottom: 13vh;
    margin-top: 1vh;
    border: none;
}

.divValoresPesquisa h2 {
    width: 50%;
    height: 100%;
}

.ResultadoCarrinho {
    padding: 20px;
    color: white;
    position: relative;
    top: -11vh;
    border-top: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ResultadoCarrinho .divValoresPesquisa {
    flex-direction: column;
    height: fit-content;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    padding: 5%;
    border-radius: 15px;
}

.divValores,
.divValoresColumn {
    flex-direction: column;
    height: fit-content;
    background-color: #1c1c1c;
    display: flex;
    padding: 5%;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
}

.divValores {
    flex-direction: row;
}

.divValoresColumn {
    flex-direction: column;
}

.Frete {
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.AreaConfig {
    margin-left: 400px;
    padding: 0vw;
    /* align-items: center; */
    justify-content: center;
    display: flex;
}

.divTituloArea {
    padding-top: 12vh;
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 2;
    flex-direction: column;
    gap: 2vw;
}

.lines {
    position: absolute;
    /* Define que as linhas vão ser posicionadas absolutamente */
    top: 5vh;
    /* Ajuste o topo conforme necessário */
    left: 0;
    width: 100%;
    /* Ocupa 100% da largura da tela */
    height: 4px;
    /* Altura das linhas */
    z-index: 0;
    /* Certifique-se de que as linhas ficam abaixo do conteúdo */
}

/* Linha branca (a primeira linha) */
.line1 {
    position: absolute;
    /* Posiciona a linha 1 de forma absoluta dentro do container */
    top: 0;
    left: 0;
    width: 100%;
    /* A linha 1 ocupa 100% da largura */
    height: 4px;
    background-color: #ffffff;
    z-index: 1;
    /* Fica abaixo da linha azul */
}

/* Linha azul (a segunda linha) */
.line2 {
    position: absolute;
    /* Posiciona a linha 2 de forma absoluta dentro do container */
    top: 0;
    left: 0;
    width: 25%;
    /* A linha 2 ocupa 25% da largura */
    height: 4px;
    background-color: #4066FF;
    z-index: 2;
    /* Fica sobre a linha 1 */
}

.Endereco {
    height: 20vh;
    border-radius: 3vh;
    background-color: #2b2b2b;
    width: 70%;
}

.titulo {
    margin-bottom: 5vh;
}

.BotoesEndereco {
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.btnCancelar,
.btnProximo {
    background-color: #2b2b2b;
    width: 15vw;
    height: 7vh;
    border-radius: 3vh;
    border: none;
    color: white;
    font-size: 1.5vh;
    font-weight: bold;
    cursor: pointer;
}