.desativado {
    opacity: 0.4;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.btnCopiarCodigo:disabled,
.btnProximo:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    transition: opacity 0.3s ease;
}

input:disabled {
    background-color: #2a2a2a;
    color: #777;
}


.GrandeEndereco {
    height: 70%;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    overflow-y: scroll;
}




.areaTermos {
    padding: 5vh;
    max-height: 65vh;
    overflow-y: scroll;
}

.concordarTermos {
    display: flex;
    gap: 5px;
    align-items: center;
    height: 40px;
}

.HBOLD {
    font-weight: bold;
    margin: 5px;
}

.btnResumoCompra {
    display: none;
}

.areaPagamento {
    display: flex;
    width: 80%;
    height: 75%;
    overflow-y: scroll;
    flex-direction: column;
}

.AreaTotal .campo-duplo label {
    margin-right: 10px;
}

.AreaTotal .vermelho {
    color: #FF6B6B;
}

.line2Pagamento {
    position: absolute;
    /* Posiciona a linha 2 de forma absoluta dentro do container */
    top: 0;
    left: 0;
    width: 50%;
    /* A linha 2 ocupa 50% da largura */
    height: 4px;
    background-color: #4066FF;
    z-index: 2;
    /* Fica sobre a linha 1 */
}

.line2Finalizar {
    position: absolute;
    /* Posiciona a linha 2 de forma absoluta dentro do container */
    top: 0;
    left: 0;
    width: 75%;
    /* A linha 2 ocupa 75% da largura */
    height: 4px;
    background-color: #4066FF;
    z-index: 2;
    /* Fica sobre a linha 1 */
}

.line2Finalizado {
    position: absolute;
    /* Posiciona a linha 2 de forma absoluta dentro do container */
    top: 0;
    left: 0;
    width: 100%;
    /* A linha 2 ocupa 100% da largura */
    height: 4px;
    background-color: #4066FF;
    z-index: 2;
    /* Fica sobre a linha 1 */
}

.metodo {
    padding: 20px;
}

.opcaoHeader {
    margin-right: 2vh;
    border-bottom: solid #c0c0c0 1px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.camposCartao {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.EspacoCartao {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.EspacoCartao label {
    font-size: 0.9rem;
    color: #ccc;
}

.EspacoCartao input {
    background: #222;
    border: none;
    border-radius: 6px;
    padding: 8px;
    height: 6vh;
    color: #ddd;
    outline: none;
}

.campo-duplo {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.validade {
    display: flex;
    gap: 8px;
}

.validade input {
    width: 80px;
}

.areaPix {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.btnCopiarCodigo {
    background-color: #0d4d1a;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.3s;
}

.btnCopiarCodigo:hover {
    background-color: #0b661a;
}

#ResumoCompra {
    background-color: #373737;
    max-width: 450px;
    border: none;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px max(2vw, 15px);
    position: fixed;
    width: 100vw;
    min-width: 280px;
    height: 100vh;
    color: #fff;
    gap: 1.5vh;
}

#ResumoCompra.mostrar {
    display: flex;
    /* Mostra quando necessário */
}

#ResumoCompra hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #333;
}

#ResumoCompra h2 {
    font-size: var(--font-size-h2);
    text-align: center;
}

.divTituloCaixaEntrada {
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.divResumoCompraAberto {
    position: absolute;
    max-width: 450px;
    width: 100vw;
    min-width: 300px;
    height: 100vh;
    background-color: #2B2B2B;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    z-index: 3;
}

.TituloResumoCompra {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7vh;
    border: solid #2B2B2B;
}

#TopTitulo {
    height: fit-content;
    display: flex;
    flex-direction: column;
    color: white;
    border-bottom: 1px solid #ffffff;
}

.divValoresPesquisa {
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ItensComprados {
    margin-bottom: 2vh;
    margin-top: 1vh;
    border: none;
    flex: 1 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.divValoresPesquisa h2 {
    width: 50%;
    height: 100%;
}

.ResultadoResumoCompra {
    padding: 20px;
    color: white;
    position: relative;
    border-top: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ResultadoResumoCompra .divValoresPesquisa {
    flex-direction: column;
    height: fit-content;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    padding: 5%;
    border-radius: 15px;
}

.divValores,
.divValoresColumn {
    flex-direction: column;
    height: fit-content;
    background-color: #1c1c1c;
    display: flex;
    padding: 5%;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
}

.divValores {
    flex-direction: row;
}

.divValoresColumn {
    flex-direction: column;
    height: 15vh;
    overflow-y: scroll;
}

.Frete {
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.AreaTotal {
    padding: 0vw;
    justify-content: center;
    display: flex;
    flex: 1;
    margin-left: 225px;
    overflow-y: auto;
    min-height: 100vh;
    color: white;
}

.divEspacoTodo {
    padding: 2vh;
    padding-top: 12vh;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
}

.lines {
    position: absolute;
    /* Define que as linhas vão ser posicionadas absolutamente */
    top: 5vh;
    /* Ajuste o topo conforme necessário */
    left: 0;
    width: 100%;
    /* Ocupa 100% da largura da tela */
    height: 4px;
    /* Altura das linhas */
    z-index: 0;
    /* Certifique-se de que as linhas ficam abaixo do conteúdo */
}

/* Linha branca (a primeira linha) */
.line1 {
    position: absolute;
    /* Posiciona a linha 1 de forma absoluta dentro do container */
    top: 0;
    left: 0;
    width: 100%;
    /* A linha 1 ocupa 100% da largura */
    height: 4px;
    background-color: #ffffff;
    z-index: 1;
    /* Fica abaixo da linha azul */
}

/* Linha azul (a segunda linha) */
.line2 {
    position: absolute;
    /* Posiciona a linha 2 de forma absoluta dentro do container */
    top: 0;
    left: 0;
    width: 25%;
    /* A linha 2 ocupa 25% da largura */
    height: 4px;
    background-color: #4066FF;
    z-index: 2;
    /* Fica sobre a linha 1 */
}

.Endereco,
.EnderecoAdicionar {
    min-height: 20vh;
    height: 20vh;
    display: flex;
    border-radius: 3vh;
    background-color: #2b2b2b;
    width: 70%;
}

.botaoselecionar {
    width: 10%;
    align-items: center;
    height: 100%;
    justify-content: center;
    display: flex;
}

.informacoesendereco {
    width: 80%;
    align-items: self-start;
    height: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
}

.editarendereco {
    width: 10%;
    align-items: center;
    height: 100%;
    justify-content: center;
    display: flex;
}

.editarendereco img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.concordo {
    cursor: pointer;
}

#pix,
#cartao {
    cursor: pointer;
}



.titulo {
    margin-bottom: 5vh;
}

.BotoesEndereco {
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.BotoesFinalizadosPedido {
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.btnCancelar,
.btnProximo {
    background-color: #2b2b2b;
    width: 15vw;
    height: 7vh;
    border-radius: 3vh;
    border: none;
    color: white;
    font-size: 1.5vh;
    font-weight: bold;
    cursor: pointer;
}

#buttonResumo {
    display: flex;
    align-items: center;
    height: 8vh;
    justify-content: center;
}

.btnResumoCompra {
    background-color: #3C3C3C;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 1.5vh;
    font-weight: bold;
    cursor: pointer;
}

#ResumoCompra {
    display: block;
}

@media screen and (max-width: 450px) {
    .btnResumoCompra {
        display: block;
    }

    .AreaTotal {
        margin-left: 0;
        z-index: 1;
    }

    #ResumoCompra {
        z-index: 10;
    }

    .Endereco,
    .EnderecoAdicionar {
        height: 20vh;
        display: flex;
        border-radius: 3vh;
        background-color: #2b2b2b;
        width: 100%;
    }

    .BotoesEndereco {
        display: flex;
        width: 100%;
        gap: 10px;
        flex-direction: column;
    }

    .btnCancelar,
    .btnProximo {
        background-color: #2b2b2b;
        width: 100%;
        height: 7vh;
        border-radius: 15px;
        border: none;
        color: white;
        font-size: 1.5vh;
        font-weight: bold;
        cursor: pointer;
    }

    .areaTermos {
        height: 65vh;
        overflow-y: scroll;
    }

    .informacoesendereco {
        gap: 0;
    }

    .BotoesEndereco {
        position: fixed;
        bottom: 10px;
        width: 90%;
        text-align: center;
    }

    .campo-duplo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }

    .metodo {
        padding: 10px;
    }

    .textoTermos p {
        font-size: 0.8rem;
    }

    .textoTermos h3 {
        font-size: 0.9rem;
    }

    .areaTermos {
        padding: 1vh;
    }





}

@media screen and (min-width: 450px) and (max-width: 850px) {

    .Endereco,
    .EnderecoAdicionar {
        height: min-height(20vh);
        height: fit-content;
        width: 95%;
    }

    .divEspacoTodo {
        height: 100%;
    }

    .areaTermos {
        height: 60vh;
        overflow-y: scroll;
    }

    .BotoesEndereco {
        display: flex;
        width: 100%;
        gap: 10px;
        flex-direction: column;
    }

    .btnCancelar,
    .btnProximo {
        background-color: #2b2b2b;
        width: 100%;
        height: 7vh;
        border-radius: 15px;
        border: none;
        color: white;
        font-size: 1.5vh;
        font-weight: bold;
        cursor: pointer;
    }

    .campo-duplo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }

    .metodo {
        padding: 10px;
    }

    .textoTermos p {
        font-size: 0.8rem;
    }

    .textoTermos h3 {
        font-size: 0.9rem;
    }

    .areaTermos {
        padding: 1vh;
    }
}