.address-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-row.double {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.AreaTotal label {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #c9c4c3;
}

.AreaTotal input {
    height: 45px;
    border: none;
    border-radius: 8px;
    background-color: #2b2b2b;
    padding: 0 12px;
    font-size: 15px;
}

.titulo {
    margin-bottom: 0vh;
}

@media (max-width: 700px) {
    .form-row.double {
        flex-direction: column;
    }
}
