@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background: red;
    overflow: hidden; /* Remove as barras de rolagem */
}

.bold {
    font-weight: bold;
}
.semibold{
    font-weight: 600;
    letter-spacing: 1px;
}
.Clicavel{
    cursor: pointer;
}

.displayFlex{
    display: flex;
}