@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background: red;
}

.bold {
    font-weight: bold;
}
.semibold{
    font-weight: 600;
    letter-spacing: 1px;
}
.Clicavel{
    cursor: pointer;
}

:root {
    /* Cor */

    --cor-preto: #111;
    --cor-fundo-escuro: #1c1c1c;
    --cor-fundo-claro: #212121;
    --background-pesquisa: #2b2b2b;
    --cor-linha: #454545;
    --cor-cinza: #A3A3A3;
    --cor-branco: #efefef;
    --cor-azul-claro: #4066FF;
    --cor-azul: #3050CC;
    --cor-vermelho: #ef5e5e;
    --cor-vermelho-escuro: #b14242;

    /*  Textos    */

    --font-size-p2: 12px;
    --font-size-p: 16px;
    --font-size-h3: 16px;
    --font-size-h2: 18px;
    --font-size-h1: 24px;
    --font-size-titulo: 32px;
    --font-size-caixa: 18px;
    --font-size-Mensagens: 17px;

    @media (max-width: 500px) {
        --font-size-p2: 11px;
        --font-size-p: 12px;
        --font-size-h3: 12px;
        --font-size-h2: 15px;
        --font-size-h1: 19px;
        --font-size-titulo: 27px;
        --font-size-caixa: 16px;
        --font-size-Mensagens: 15px;

    }
}


.displayFlex{
    display: flex;
}

