/* Paleta de cores baseada na imagem */
:root {
    --background-dark: #121212;
    --card-dark: #1e1e1e;
    --text-light: #f5f5f5;
    --text-gray: #a9a9a9;
    --accent-red: #ff3366;
    --border-dark: #333;
}


.Pesquisar {
    gap: 3vh;
    padding: 2vw 4vw;
}



.secao-categorias {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    width: 100%;
}



.secao-categorias h2 {
    color: var(--font-color-branco);
    font-size: var(--font-size-h2);
    font-weight: 500;
    margin-bottom: 10px;
}

/* Chips de busca recente */
.buscas-recentes-chips {
    display: flex;
    gap: 10px;
}

.chip {
    background-color: var(--card-dark);
    color: var(--font-color-branco);
    border: 1px solid var(--border-dark);
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
}

.chip:last-child {
    /* Adiciona um 'X' estilizado ao final do chip */
}

/* Botões de categorias */
.categorias-botoes {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    overflow-x: auto;
}

.categoria-btn {
    width: 140px;
    position: relative; /* Adiciona o posicionamento relativo para o texto */
    cursor: pointer;
    transition: transform 0.2s;
    min-width: 100px;
    padding: 0; /* Remove o padding padrão */
}

.categoria-btn img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Borda da imagem */
    filter: brightness(0.6); /* Escurece a imagem para o texto se destacar */
    transition: filter 0.2s;
}

.categoria-btn:hover img {
    filter: brightness(0.8);
}

.categoria-btn p {
    /* Posiciona o texto no centro */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Cor do texto */
    font-weight: bold;
    font-size: var(--font-size-p); /* Tamanho da fonte do texto */
    text-transform: capitalize;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra para o texto */
}