/* Paleta de cores baseada na imagem */
:root {
    --background-dark: #121212;
    --card-dark: #1e1e1e;
    --border-dark: #333;
}

.Pesquisar {
    gap: 3vh;
    padding: 50px 4vw;
}

.ConjAnuncioConfig, .secao-categorias, .divBarraPesquisaMob {
    max-width: 1500px  !important;
}

.secao-categorias {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    width: 100%;
}

.secao-categorias h2 {
    color: var(--cor-branco);
    font-size: var(--font-size-h2);
    font-weight: 500;
    margin-bottom: 1vh;
}

/* Chips de busca recente */
.buscas-recentes-chips {
    display: flex;
    gap: 10px;
}
.categorias-botoes,
.buscas-recentes-chips {
    padding: 4px 0px;
    overflow-x: scroll;
}
.categorias-botoes::-webkit-scrollbar,
.buscas-recentes-chips::-webkit-scrollbar {
    height: 2px; /* Altura da barra de rolagem */
}

/* Estilo para a trilha (fundo da barra) */
.categorias-botoes::-webkit-scrollbar-track,
.buscas-recentes-chips::-webkit-scrollbar-track {
    background: transparent;
}

.categorias-botoes::-webkit-scrollbar-thumb,
.buscas-recentes-chips::-webkit-scrollbar-thumb {
    background-color: var(--cor-azul);
    border-radius: 4px;
    border: 1px solid transparent;
}

.chip {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    font-size: var(--font-size-p2);
    padding: 8px 15px;
    border-radius: 20px;
}
.chip p {
    /* Impede que o texto quebre a linha */
    white-space: nowrap;
    /* Esconde qualquer texto que ultrapasse a largura */
    overflow: hidden;
    /* Adiciona reticências (...) ao texto cortado */
    text-overflow: ellipsis;
}

/* Botões de categorias */
.categorias-botoes {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    overflow-x: auto;
}

.categoria-btn {
    z-index: 0;
    width: 125px;
    position: relative; /* Adiciona o posicionamento relativo para o texto */
    cursor: pointer;
    transition: transform 0.2s;
    min-width: 100px;
    padding: 0; /* Remove o padding padrão */
}

.categoria-btn img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Borda da imagem */
    filter: brightness(0.6); /* Escurece a imagem para o texto se destacar */
    transition: filter 0.2s;
}

.categoria-btn:hover img {
    filter: brightness(1);
}

.categoria-btn p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--cor-branco);
    font-weight: bold;
    font-size: var(--font-size-p);
    text-transform: capitalize;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


@media (max-width: 500px) {
    .Pesquisar,
    .secao-categorias {
        gap: 3vh;
    }
    .Pesquisar {
        padding: 80px 6vw;
    }
    .divBarraPesquisaMob {
        padding: 0 4vw !important;
    }
}
