.Conteudo {
    display: flex;
    flex-direction: column;
    height: 100%; /* Depende da altura do pai */
    flex: 80%; /* Ocupa 80% do espaço disponível */
    background: #1C1C1C;
    background-repeat: repeat;
    background-size: unset;
    gap: 10px;
    padding: 10px;
    align-items: center; /* Remove as barras de rolagem */
    overflow: auto;
}

::-webkit-scrollbar{
    width: 0;
}

.divHomePadrao p {
    color: white;
    font-size: clamp(13px, 2.5vw, 18px);
}

/* Botão Anunciar */

.btnAnunciar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 18vh;
    flex-shrink: 0; /* Impede que o botão seja redimensionado */
}

/* Fundo do Botão Anunciar */

.divCarinho {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #1c1c1c;
    border: 1px solid #606060;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 40px;
}

.imgPerfil img {
    width: 35px;
    height: 100%;
    object-fit: cover;
}
.IconeCarinho {
    padding: 3px;
    padding-right: 5px !important;
}

/* Programar Localização */

.divLocal{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
}
.divLocal p {
    color: white;
    font-size: clamp(10px, 2vw, 12px);
}


.divLocal .divLocalHamburger {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}
.divLocal p {
    color: white;
    font-size: clamp(10px, 2.5vw, 18px);
}

/* Responsividade para telas menores */

.FundoHamburguerCarrinho{
    display: none;
}

.Conteudo .btnAdicionarAnuncio {
    background-color: #353535;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    width: 80%;
    max-width: 300px;
    margin-top: 10px;
}

.Conteudo .btnAdicionarAnuncio:hover {
    background-color: #3c3c3c;
}



@media (max-width: 500px) {

    .FundoHamburguerCarrinho{
        display: flex;
        position: fixed;
        width: 100%;
        height: 50px;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.25);
    }

    .Conteudo {
        gap: 10px;
        padding: 50px 10px;

        align-items: center; /* Remove as barras de rolagem */
    }

    .btnAnunciar{
        width: 90%;
        height: 12vh;
    }


    .divCarinho {
        flex-direction: row; /* Alinha os elementos verticalmente */
        align-items: center;
        position: absolute; /* Torna o elemento absoluto */
        top: 10px; /* Posiciona no canto superior */
        right: 10px; /* Posiciona no canto esquerdo */
        padding: 0px; /* Adiciona espaçamento interno */
        width: auto; /* Ajusta a largura automaticamente */
    }
    .divLocal{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
    }
    .divLocal p {
        align-items: center;
        color: white;
        font-size: clamp(10px, 2.5vw, 18px);

    }

}

