:root {
    --font-color-red: red;
}



.divHomePadrao p {
    color: white;
    font-size: var(--font-size-p);
}

.divHomePadrao .btnAnunciar h2 {
    color: white;
    font-size: var(--font-size-h2);
    text-align: center;
    width: 90%;
}

/* Botão Anunciar */


.btnAnunciar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 18vh;
    flex-shrink: 0; /* Impede que o botão seja redimensionado */
}

/* Fundo do Botão Anunciar */

.divCarinho {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #1c1c1c;
    border: 1px solid #606060;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 40px;
}

.imgPerfil img {
    width: 35px;
    height: 100%;
    object-fit: cover;
}
.IconeCarinho {
    padding: 3px;
    padding-right: 5px !important;
}

/* Responsividade para telas menores */

.FundoHamburguerCarrinho{
    display: none;
}

.Conteudo .btnAdicionarAnuncio {
    background-color: #353535;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 20px;
    font-size: var(--font-size-h2);
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    width: 80%;
    max-width: 300px;
    margin-top: 10px;
}

.Conteudo .btnAdicionarAnuncio:hover {
    background-color: #3c3c3c;
}

@media (max-width: 800px) {
    .btnAnunciar{
        width: 80vw;
    }


}

@media (max-width: 500px) {

    .FundoHamburguerCarrinho{
        display: flex;
        position: fixed;
        width: 100%;
        height: 70px;
        top: 0;
        right: 0;
        background-color: #1C1C1C ;
    }

    .Conteudo {
        gap: 10px;
        padding: 70px 10px;
        align-items: center; /* Remove as barras de rolagem */
    }

    .btnAnunciar{
        width: 90%;
        height: 12vh;
    }

    .divCarinho {
        flex-direction: row; /* Alinha os elementos verticalmente */
        align-items: center;
        position: absolute; /* Torna o elemento absoluto */
        top: 18px; /* Posiciona no canto superior */
        right: 16px; /* Posiciona no canto esquerdo */
        padding: 0px; /* Adiciona espaçamento interno */
        width: auto; /* Ajusta a largura automaticamente */
    }

}

