.Menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100vh;
    min-height: 650px;
    max-width: 350px;
    flex: 20%;
    min-width: 250px;
    background: #2B2B2B;
    padding: 10px;
    gap: 10px;
}
.partMenu{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0px;
    gap: 10px;
}
.partMenu img{
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
.conjAba {
    gap: 2px;
}

/* Logo */

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max(12vh,90px);
    padding: max(3vh,22px);
    }


/* Configuração da parte cadastro */

.Cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max(13vh,80px);
    background: linear-gradient(-75deg, #3A3A3A, #A1A1A1, #3A3A3A);
    gap: 0.5vh;
    padding: 5px;
    border-radius: 20px;
}
.Cadastro .CadEntrar{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
}
.Cadastro .CadCad {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #4066FF;
    border-radius: 20px;
}

.Cadastro p{
    color: white;
    font-size: 18px;
    font-family: Roboto, serif;
}


/* Configuração das abas e linhas */

hr {
    width: 90%;
    height: 1px;
    border: none;
    background-color: #535353;
}

.Aba {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max(7vh,40px);
    transition: background 0.3s ease, border-left 0.3s ease;
    /* border-left: 1px solid #005ada; */
}
.Aba .divAbaIcone {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}
.Aba .divAbaTexto{
    flex: 2;
}

.Aba:hover {
    background: #232323;
    cursor: pointer;
 }
.Aba img{
    height: 45px;
}


.Aba p{
    color: white;
    font-size: 20px;
    font-family: Roboto, serif;
    text-align: left;
}
